.textCenter {
    text-align: center;
}

.containerPadding {
    padding: 24px;
}

.fullWidth {
    width: 100%;
}


.noMarginParagraph p {
    margin: 0 !important;
}

.mt8 {
    margin-top: 8px;
}

.redText {
    color: red;
}

.pointerCursor {
    cursor: pointer;
}

/* Remove margin in secondary text of ListItem */
.MuiListItemText-secondary p {
    margin: 0 !important;
}

.ql-editor ol {
    counter-reset: qlist-1 qlist-2 qlist-3 qlist-4 qlist-5 qlist-6 qlist-7 qlist-8 qlist-9;
}

.focusOnHover:hover {
    color: #64B5F6;
}